html{
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
/*set font-size base on 640px width*/
//font-size: calc( 14px + 8 * ((100vw - 500px) / 1500));
//font-size: calc(10 * 100vw / 640);
/*the rem just for set the font size for global website*/
@media all and (max-width: 767px){
  html {
    font-size: calc(18px * 100vw / 640);
  }
}
@media all and (min-width: 768px){
  html {
    //font-size: 14px;
    font-size: calc( 12px + 8 * ((100vw - 768px) / 1500));
  }
}

// common settings
body {
  font-family: 'Microsoft Yahei',sans-serif;
  line-height: 1.8;
  color: #333;
  background: #fff;
  font-size: 1rem;
}

img{
  width: 100%;
  display: block;
}
/*Set the title tags*/
h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.6rem;
}
p{
  font-size: 1rem;
}
h2.title{
  position: relative;
  display: inline-block;
  padding: 0.2rem;
  margin: 0 auto;
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: -100px;
    top: 50%;
    width: 90px;
    height: 1px;
    //@include transform(translate(-50%,-50%));
    background: #dbb673;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    right: -100px;
    top: 50%;
    width: 90px;
    height: 1px;
    //@include transform(translate(-50%,-50%));
    background: #dbb673;
  }
}
.block-text{
  padding: 1rem;
  text-align: center;
}

/*12 grid layout*/
.full-width{
  width: 100%;
}
.row{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
@for $i from 1 through 12{
  .col-#{$i}{
    width: calc(#{$i}*100% / 12);
    //display: inline-block;
    box-sizing: border-box;
  }
}
//For pc
@media all and (min-width: 768px){
  .narrow-width{
    width: 86%;
    //min-width: 1000px;
    max-width: 1449px;
    margin: 0 auto;
  }
  .show-on-pc{
    display: block;
  }
  .show-on-mobile{
    display: none;
  }
}
  //For mobile
@media all and (max-width: 767px){
  @for $i from 1 through 12{
    .col-#{$i}{
      width: 100%;
    }
  }
  .show-on-pc{
    display: none;
  }
  .show-on-mobile{
    display: block;
  }
}
/*-----End grid layout-----*/

.f-l{
  float: left;
}
.f-r{
  float: right;
}
.btn{
  display: inline-block;
  border: #dbb673 1px solid;
  color: #dbb673;
  padding: 0.5rem 1.4rem;
  font-size: 0.85rem;
  &:after{
    content: '';
    display: inline-block;
    @include size(1.4rem,0.5rem);
    border-bottom: #dbb673 1px solid;
    border-right: #dbb673 1px solid;
    @include transform(skew(30deg));
  }
}

/*Hide elements*/
.hide{
  display: none !important;
}

/*Clear float*/
.clearfix:after{
  content: '.';
  display: block;
  @include size(0,0);
  overflow: hidden;
  clear: both;
}


/*For popup*/
.popup{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  @include size(100%,100%);
  padding: 1.4rem 0.5rem;
  box-sizing: border-box;
  background: rgba(0,0,0,0.8);
  z-index: 200;
  color: #000;
  &.show{
    display: block;
  }
  .inner{
    width: 80vw;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-50%));
    background: #fff;
  }
  .title{
    padding: 0.2rem 0;
    margin: 0 auto;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 0.36rem;
  }
  .pcontent{
    padding: 0.4rem 0.4rem;
    margin: 0.4rem auto 0;
    font-size: 0.28rem;
    line-height: 1.6;
    text-align: left;
    color: #515151;
    p{
      margin-bottom: 0.3rem;
    }
  }
  .btn-close{
    position: absolute;
    top: 0;
    right: 0.1rem;
    z-index: 20;
    @include size(0.6rem,0.84rem);
    text-indent: -999em;
    &:after,
    &:before {
      content: '';
      display: block;
      width: 0.4rem;
      height: 0.04rem;
      top: 50%;
      left: 50%;
      margin-left: -0.2rem;
      position: absolute;
      background: #fff;
    }
    &:after {
      @include transform(rotate(45deg));
    }
    &:before {
      @include transform(rotate(-45deg));
    }
  }
}



//for alertpop
.alertpop{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 102;
  @include size(100%,100%);
  background: rgba(0,0,0,0.6);
  .inner{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-50%));
    padding: 0.6rem 0.2rem;
    background: #fff;
    color: #000;
    font-size: 0.32rem;
    text-align:center;
    border-radius: 5px;
  }
  .msg{
    font-size: 0.24rem;
  }
  .btn-alert-ok{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    @include size(0.6rem,0.6rem);
    text-indent: -999em;
    &:after,
    &:before {
      content: '';
      display: block;
      width: 0.4rem;
      height: 0.02rem;
      top: 50%;
      left: 50%;
      margin-left: -0.2rem;
      position: absolute;
      background: #000;
    }
    &:after {
      @include transform(rotate(45deg));
    }
    &:before {
      @include transform(rotate(-45deg));
    }
  }
}

//for ajax loading
@include keyframes(spin){
  0%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}
.ajaxpop{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  .loading{
    position: absolute;
    width: 3rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    margin-left: -1.7rem;
    margin-top: -0.7rem;
    line-height: 1rem;
    background: rgba(0,0,0,0.8);
    padding: 0.2rem;
    @include vendor-prefix(border-radius,10px);
    text-align: center;
    color: #fff;
  }
  .icon-loading{
    display: inline-block;
    position: relative;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 4px;
    vertical-align: middle;
    @include vendor-prefix(border-radius,100%);
    border: 3px solid rgba(255, 255, 255, 0.4);
    &:after{
      content: '';
      position: absolute;
      top: -3px;
      right: -3px;
      bottom: -3px;
      left: -3px;
      @include vendor-prefix(border-radius,100%);
      border: 3px solid transparent;
      border-top-color: #fff;
      -webkit-animation: spin 1s linear infinite;
    }
  }
}
/*----End ajax loading----*/


//verticle align
.v-content{
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%));
}

//override swiper
#slideshow{
  >img{
    position: relative;
    z-index: 1;
  }
  .text-content{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 86%;
    max-width: 1449px;
    z-index: 2;
    @include transform(translate(-50%,-70%));
    color: #fff;
    .title{

    }
  }
  .swiper-pagination-bullet{
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 0;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background: #dbb673;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 7rem;
  }
}