/*For header style include pc and mobile*/
.logo{
  img{
    max-width: 186px;
  }
}
#header{
  padding: 40px 0 0;
  .info{
    //float: right;
    text-align: right;
    font-size: 0.85rem;
    height: 18px;
    line-height: 18px;
    margin-top: -15px;
  }
  .tel{
    display: inline-block;
    background: url("../images/icon-phone.png") no-repeat;
    background-size: 15px;
    background-position: left 3px;
    padding-left: 20px;
  }
  .seperate-line{
    color: #dbb673;
    margin: 0 20px;
  }
  .language{
    display: inline-block;
    font-weight: bold;
    span{
      display: inline-block;
    }
    .lang-cn{
      margin-right: 8px;
    }
  }
}

//for main-menu
.main-menu{
  margin-top: 20px;
  text-align: right;
  >.item{
    display: inline-block;
    position: relative;
    margin-left: 5%;
    //padding: 0 3%;
    a{
      display: block;
      color: #333;
      text-decoration: none;
      box-sizing: border-box;
    }
    &.active,&:hover{
      >a{
        border-bottom: #dbb673 3px solid;
      }
      .second-menu{
        display: block;
      }
    }
    //for the first level menu
    >a{
      height: 60px;
    }
  }
  .second-menu{
    display: none;
    position: absolute;
    left: 50%;
    top: calc(100% - 3px);
    width: 140px;
    margin-left: -70px;
    background: #fff;
    text-align: center;
    border-top: #dbb673 3px solid;
    box-sizing: border-box;
    padding: 15px 20px;
    .item{
      display: block;
      a{
        display: block;
        height: 24px;
        line-height: 24px;
        margin-top: 5px;
        &:hover{
          color: #dbb673;
          border-bottom: #dbb673 1px solid;
        }
      }
    }
  }
}