/*just for mobile*/
@media all and (max-width: 768px){
  /*For page home*/
  #main-content{
    width: 90vw;
    margin: -4rem auto 0;
  }
  #block-stockholder{

  }
  .btn{
    display: block;
    width: 60px;
    margin: 0 auto;
    text-align: center;
  }

  /*---------End page home---------*/
}