/*For page home*/
.block-text{
  //padding: 60px;
  position: relative;
  z-index: 3;
}
.block-img{
  overflow: hidden;
  img{
    //width: auto;
    //height: 100%;
  }
}
#main-content{
  position: relative;
  z-index: 2;
  margin-top: -50px;
}
#block-intro{
  position: relative;
  background: #eee;
  &:after{
    content: '';
    display: block;
    @include size(calc(100% - 20px),calc(100% - 20px));
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    border: rgba(255,255,255,0.5) 1px solid;
  }
  .des{
    text-align: left;
  }
  .btn{
    //float: right;
    margin-top: 20px;
  }
}
#block-stockholder{
  text-align: center;
  margin: 50px 0;
  .col-4{
    padding: 30px 50px 50px;
    text-align: left;
  }
  .subtitle{
    margin-bottom: 20px;
  }
  .des{
    margin-bottom: 40px;
  }
  .btn{
    //float: right;
  }
}
#block-service{
  text-align: center;
  .title{
    margin-bottom: 40px;
  }
  .block-text{
    background: #fff;
    padding: 50px;
    text-align: left;
  }
  .subtitle{
    margin-bottom: 10px;
  }
  .btn{
    //float: right;
    margin-top: 50px;
  }
}
  //  pc
@media all and (min-width: 768px) {
  #block-intro{
    .block-text{
      position: absolute;
      right: 0;
      top: 0;
      padding: 60px;
    }
  }
  .btn{
    float: right;
  }
}
  //  mobile
@media all and (max-width: 768px){
  /*For page home*/
  #main-content{
    width: 90vw;
    margin: -4rem auto 0;
  }
  #block-stockholder{

  }
  .btn{
    display: block;
    width: 60px;
    margin: 0 auto;
    text-align: center;
  }
}

/*---------End page home---------*/

/*For page product-service*/
#main-content{
  background: #fff;
  margin-top: -80px;
}
.tab-content{
  display: none;
  &.active{
    display: block;
  }
}
.tab-list{
  text-align: center;
  .tab-item{
    height: 80px;
    line-height: 80px;
    font-size: 1.4rem;
    box-sizing: border-box;
    cursor: pointer;
    &.active{
      color: #dbb673;
      border-bottom: #dbb673 2px solid;
    }
  }
}
.switch-bar-lists{
  border: #dbb673 1px solid;
  margin: 50px 0;
  .col-6{
    text-align: center;
    color: #dbb673;
    cursor: pointer;
    height: 2.6rem;
    line-height: 2.6rem;
    &.active{
      background: #dbb673;
      color: #fff;
    }
  }
}
//  mobile
@media all and (max-width: 768px){

  #main-content{
    margin-top: -4rem;
  }
  .tab-list{
    text-align: center;
    .tab-item{
      width: calc(4 * 100% / 12);
      height: 4rem;
      line-height: 4rem;
      font-size: 1.1rem;
    }
  }
  .switch-bar-lists{
    .col-6{
      width: calc(6 * 100% / 12);;
    }
  }

}

/*---------End page product-service---------*/

